@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.home{
  background: linear-gradient(to right,#ccfed8,#a3cbf6 );
}
body {
  font-family: 'Poppins', sans-serif;
}
.scrolling-container {
  max-height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.scrolling-container::-webkit-scrollbar {
  width: 1px;
}

.scrolling-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.scrolling-container::-webkit-scrollbar-track {
  background-color: transparent;
}
